@page "/login"
@inject CoreWebApis.Modules.Login.BL.Interfaces.IRegisterAndLoginViewModel _viewmodel
@inject HttpClient _httpClient
<h3>Login</h3>



<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a @onclick='() => SetActiveTab("login")' class="nav-link @(activeTab == "login" ? "active" : "")" id="tab-login" role="tab" aria-controls="pills-login" aria-selected="@(activeTab == "login")">Login</a>
    </li>
    <li class="nav-item" role="presentation">
        <a @onclick='() => SetActiveTab("register")' class="nav-link @(activeTab == "register" ? "active" : "")" id="tab-register" role="tab" aria-controls="pills-register" aria-selected="@(activeTab == "register")">Register</a>
    </li>
</ul>


<div class="tab-content">
    <div class="tab-pane fade @(activeTab == "login" ? "show active" : "")" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <h4>Login Form</h4>
        <form @onsubmit="HandleLogin">
            <div class="form-group">
                <label for="loginName">Email or username</label>
                <input type="text" class="form-control" id="loginName" @bind=User.username>
            </div>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" class="form-control" id="loginPassword" @bind=User.Password>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="tab-pane fade @(activeTab == "register" ? "show active" : "")" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <h4>Register Form</h4>
        <form @onsubmit="HandleRegister">
            <div class="form-group">
                <label for="registerUsername">Username</label>
                <input type="text" class="form-control" id="registerUsername" @bind=User.username>
            </div>
            <div class="form-group">
                <label for="registerEmail">Email</label>
                <input type="email" class="form-control" id="registerEmail" @bind=User.email>
            </div>
            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control" id="registerPassword" @bind=User.Password>
            </div>
            <div class="form-group">
                <label for="registerRepeatPassword">Repeat password</label>
                <input type="password" class="form-control" id="registerRepeatPassword" @bind="@ConfirmPassword">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
@if (@showToast)
{
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
}
